.App, .Table, .OrdersForm, .Inventory {
  text-align: center;
  justify-items: center;
  justify-content: center;
  /*100% width*/
  width: 100vw;
  /*100% height*/
  height: 100vh;
  color: white;
  text-shadow: 2px 2px 2px black;
  background-color: indigo;
}

h1 {
  margin-top: 20px;
  padding: 20px;
  border-bottom: 2px solid white;
  
}

body {
  margin: 0;
  padding: 0;
}

.SideBar {
  height: 100%;
  width: 250px;
  background-color: #2F4050;
}
/*Text for "Search..." aligns on left*/
input{
  text-align: left;
}