.App {
  text-align: center;
  justify-items: center;
  justify-content: center;
  /*100% width*/
  width: 100vw;
  /*100% height*/
  height: 100vh;
  color: white;
  text-shadow: 2px 2px 2px black;
  background-color: indigo;
  /*This was the main reason why sidebar, searchbar and content from routes
  did not render. Need to be on flex to allow items to be on same line,separated
  lines require a <div>*/
  display:flex;
}

h1 {
  margin-top: 20px;
  padding: 20px;
  border-bottom: 2px solid white;
  
}

/*Text for "Search..." aligns on left*/
#search-bar{

  text-align: left;
  height: 10px;
  margin-top: 30px;
  padding: 10px;
  font-size: 20px;

}

/*will throw error in body html inpsection without overflow params*/
body {
  overflow-wrap: normal;
}

.Home, .About, .OrdersForm, .PartOrders, .FullOrders, .Inventory {
  font-size: 20px;
}