.OrdersForm { 
    /*100% width*/
  /* width: 100vw; */
  /*100% height*/
  /* height: auto;
  text-align: center; */
  text-align: center;
  justify-items: center;
  justify-content: center;
  /*100% width*/
  width: 100vw;
  /*100% height*/
  height: auto;
  color: white;
  text-shadow: 2px 2px 2px black;
  background-color: indigo;
  
}

h2 {
    margin-top: 20px;
    padding: 30px;
    border-bottom: 2px solid white;
    
}

form {
    text-align: center;
}
.pure-g {
    margin-top: 80px;
}

#multi-order-date {
    text-align: center;
    margin-left: 42.5%;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 15%;

    
}


#multi-vendor, 
#multi-team, 
#multi-item
{
    text-align: center;   
    margin-left: 40%;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 20%;
}

#multi-qty, 
#multi-part-ord, 
#multi-full-ord,
#multi-size
{
    text-align: center;
    margin-left: 47.5%;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 5%;
    
}

input, textarea, select {
    text-align: center;
    
    
}

textarea {
    height: 60%;
}

.submit {
    text-align: center;
    margin-top: 50px;
    box-shadow: 2px 2px 2px black;
    cursor: pointer;
    margin-bottom: 60px;
    padding: 5px;
    font-weight: bold;
    text-shadow: 2px 4px 8px white;
}

table {
    padding-top: 20px;
}